<div message-directive></div>
<div class="ui vertical segment">
    <div class="ui fluid search">
        <div class="ui icon input">
            <input class="prompt" type="text" ng-model="filterString" placeholder="Search notifications...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</div>
<div class="ui vertical segment">
    <div class="ui four cards">
        <div class="card" ng-repeat="ad in marketads | filter: searchFilter ">
            <a class="image" href="./#/marketads/details/{{ad.id}}">
                <img src="{{ad.thumbnailUrl}}" onerror="if (this.src != 'assets/img/placeholder-image.png') this.src = 'assets/img/placeholder-image.png';">
            </a>
            <div class="content">
                <a id="titleLink" class="header" href="./#/marketads/details/{{ad.id}}">{{ad.title | createTitleSnippet}}</a>
                <div class="description">
                    {{ad.description | createDescriptionSnippet}}
                </div>
            </div>
            <div class="extra content">
                <div class="content">
                    <div class="ui tag label">{{ ad.priceCents | convertPriceFromCents}} <i class="eur icon"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

